.message {
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  max-width: 75%;
}

.message.sent {
  background-color: #d1ffd6;
  align-self: flex-end;
}

.message.received {
  background-color: #f1f1f1;
  align-self: flex-start;
}

.message .time {
  display: block;
  font-size: 0.8em;
  color: #888;
  margin-top: 5px;
  text-align: right;
}
